.md_container {
    font-family: sans-serif;
    background-color: var(--bkg-color);
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
}

.md_header {
    padding-top: 20px;
}

.md_link {
    font-family: var(--paragraph-font);
    text-decoration: underline;
    color: var(--vibrant-bkg);
    display: inline;

    &:hover {
        opacity: 70%;
    }

}