.sheet {

    &_background {
        background-color: var(--bkg-color);
        color: var(--text-color);
    }

    &_container {
        background-color: var(--bkg-color-container);
        color: var(--text-color);
        min-height: 100vh;
        width: 100%;
        position: relative;
        justify-content: center;
        align-items: center;
        overflow: auto;

        &_mdx {
            @extend .sheet_container;
            display: flex;
            flex-wrap: wrap;
            max-width: 100vw;
            overflow: hidden;
            overflow-wrap: break-word;
        }


    }

    &_body {
        font-family: sans-serif;
        background-color: var(--bkg-color);
        color: var(--text-color);
        min-height: 100vh;
        width: 100vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 70px 40px 40px 40px;

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
            width: 80vw;
        }

        &_mdx {
            @extend .sheet_body;
            display: flex;
            flex-wrap: wrap;
            max-width: 100vw;
            overflow-wrap: break-word;
        }




    }

    &_md {

        font-family: sans-serif;
        background-color: var(--bkg-color);
        color: var(--text-color);
        display: flex;
        flex-wrap: wrap;
        word-break: break-word;

    }
}

.notes {
    overflow: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;

    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    &_header {
        margin-top: 40px;
    }

    &_404 {
        margin: auto;
        text-align: center;

        &_sub {
            @extend .notes_404;

            color: var(--vibrant-bkg);
            text-decoration: underline;
        }
    }

    &_title {
        text-decoration: underline;
        color: var(--vibrant-bkg);
        width: fit-content;
        font-family: var(--paragraph-font);
        font-size: 24px;


    }

    &_link {
        color: var(--vibrant-bkg);
    }
}

.progress_bar {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    height: 5px;
    background: var(--vibrant-bkg);
    transform-origin: 0%;
    z-index: 12;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        width: 80vw;
    }
}