$finalHeight: 250px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;


.card {

    &_container {
        display: inline-block;
        flex: 0 0 auto;
        background-color: var(--bkg-color-container);
        border-radius: 25px;
        height: fit-content;
        width: 300px;
        overflow: hidden;
        max-width: 300px;
          scroll-snap-align: center;
          font-family: var(--paragraph-font);
    }

    &_description {
        margin: 20px;
    }

    &_image {
        object-fit: cover;
    }
}

.scroller {  


    &_pretext {
        display: flex;
        width: 30vw;
        margin-top: 100px;
        margin-bottom: -150px;
        color: var(--vibrant-bkg);
        padding-left: 300px;
    }

    &_container {
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 100px;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        padding-left: 100px;
        padding-right: 100px;
        margin: -40px;
        display: flex;

     

   
        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
               margin-left: 50%;
        }
        &::-webkit-scrollbar{
            display: none;
        }
          -webkit-overflow-scrolling: touch;

    }
}
