// Sass Variables
$desktop-breakpoint: 45rem; // 720px
$mobile-breakpoint: 44.9375rem; // 719px

:root {
  // Global Colors
  --text-color-light: #F5F5F5;
  --bkg-color-light: #435560; //#F9F9F9;
  --bkg-color-light-secondary: #6E7C7C; //#435560;
  --bkg-color-container-light: #BCBAB8;
  --box-shadow-light: -1px 25px 13px 5px rgba(0, 0, 0, 0.75);
  --line-gradient-light: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

  --text-color-dark: #F5F5F5;
  --bkg-color-dark: #1d1e1e; //#435560; 
  --bkg-color-dark-secondary: #1d1e1e; //#435560; 
  --bkg-color-container-dark: #3e4547; //;#6E7C7C;
  --box-shadow-dark: -1px 25px 13px 5px rgba(0, 42, 81);
  --line-gradient-dark: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 234, 234, 0.75), rgba(0, 0, 0, 0));


  --fredoka-one: "Fredoka One";
  --harmattan: "Harmattan";
  --courier-prime: 'Courier Prime',
    monospace;
  --martian-mono: "Martian Mono";
  --vibrant-bkg-aqua: rgba(62, 220, 164, 255);
  --vibrant-bkg-orange: #fa6305;
  --paragraph-font: var(--harmattan);
  --header-font: var(--fredoka-one);
  --bkg-color: var(--bkg-color-dark);
}

@media(prefers-color-scheme: light) {
  :root {
    --text-color: var(--text-color-light);
    --bkg-color: var(--bkg-color-light);
    --bkg-color-container: var(--bkg-color-container-light);
    --box-shadow: var(--box-shadow-light);
    --line-gradient: var(--line-gradient-light);
    --header-font: var(--fredoka-one);
    --vibrant-bkg: var(--vibrant-bkg-aqua);
  }
}

[data-theme="light"] {
  --text-color: var(--text-color-light);
  --bkg-color: var(--bkg-color-light);
  --bkg-color-container: var(--bkg-color-container-light);
  --box-shadow: var(--box-shadow-light);
  --line-gradient: var(--line-gradient-light);
  --header-font: var(--fredoka-one);
  --vibrant-bkg: var(--vibrant-bkg-orange);
}


@media(prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-color-dark);
    --bkg-color: var(--bkg-color-dark);
    --bkg-color-container: var(--bkg-color-container-dark);
    --box-shadow: var(--box-shadow-dark);
    --line-gradient: var(--line-gradient-dark);
    --header-font: var(--fredoka-one);
    --vibrant-bkg: var(--vibrant-bkg-orange);
  }
}

[data-theme="dark"] {
  --text-color: var(--text-color-dark);
  --bkg-color: var(--bkg-color-dark);
  --bkg-color-container: var(--bkg-color-container-dark);
  --box-shadow: var(--box-shadow-dark);
  --line-gradient: var(--line-gradient-dark);
  --header-font: var(--fredoka-one);
  --vibrant-bkg: var(--vibrant-bkg-orange);
}
